<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações do Estudante</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/minha-foto.jpg" alt="Minha Foto">
        </ion-avatar>
        <ion-label>
          <h2>Bruno Matheus da Silva Coelho</h2>
          <p>Código da Turma: ADS0301N</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>